* {
    box-sizing: border-box;
}

body, 
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

body {
    background-color: blanchedalmond;
    color:darkgreen
}

h1 {
   color:darkgreen 
}

.display-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
} 

.info {
    align-items: start;
}

.readBtn-container {
    display: grid;
    text-align: center;
}

.readBtn-container > label {
    font-weight: bold;
}

.book-wrapper,
#newBook,
.rmBtn {
    padding: 10px 15px;
    border: 2px solid plum;
    border-radius: 8px;
}

.book-wrapper {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    background-color: coral;
    gap: 2rem;
}

#newBook {
    margin-top: 1rem;
    background-color: skyblue;
}

.rmBtn {
    padding: 1rem 2rem;
    background-color: rgb(89, 42, 42);
    color: whitesmoke;
}

/* The Modal (background) source: https: //www.w3schools.com/howto/howto_css_modals.asp*/
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#popupForm {
    background-color: skyblue;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: solid 1px plum;
    border-radius: 8px;
    width: 18em;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
/* End of popup */
